<mat-card *ngIf="product" class="p-3" [ngClass]="{'text-center': !fullWidthMode}">
    <div [ngClass]="{'flex': fullWidthMode}">
        <img [src]="product.image" alt="product image" class="object-contain mx-auto mb-1"
            [ngClass]="{'h-[200px]': !fullWidthMode, 'h-[360px] w-80 min-w-80': fullWidthMode}" />

        <div class="w-full pr-3" [ngClass]="{'px-8 flex flex-col justify-between': fullWidthMode}">
            <div>
                <h5>{{product.category}}</h5>
                <p class="truncate hover:whitespace-normal">{{product.title}}</p>
                <p *ngIf="fullWidthMode">{{product.description}}</p>
            </div>

            <div class="flex justify-between">
                <span class="text-red-400">{{ product.price | currency: 'EUR'}}</span>
                <button (click)="onAddToCart()">
                    <mat-icon class="text-gray-500">shopping_cart</mat-icon>
                </button>
            </div>
        </div>
    </div>
</mat-card>